# Data Manipulation with Python

Skills:
* Transform
* Dates & strings
* Joins
* Exploring Data
* Clean

Attempt:
2. 2020-8-12, Score 178, Percentile 100%, Wrong 6 out of 15

## Transform

1. **Complete the code to return the output** (MEDIUM)

In [6]:
import pandas as pd
import numpy as np

df = {
    "x":[4,9],
    "y":[16,25]
}
df = pd.DataFrame(df)

df.apply(np.sqrt)

     x    y
0  2.0  4.0
1  3.0  5.0

## Dates & Strings

1. **Add one day to the datetime object `leap_day`** (HARD)

In [4]:
from datetime import datetime, timedelta

leap_day = datetime(2020, 2, 29, 13, 59, 3)
next_day = leap_day + timedelta(days = 1)
print(leap_day,"\n",next_day)

2020-02-29 13:59:03
 2020-03-01 13:59:03

2. **The `sales` DataFrame shows the number of items sold on a number of individual dates.**
  + Calculate the mean number of items for each month. (MEDIUM)
  + Calculate the number of dates recorded in each month. (MEDIUM)

In [25]:
# Creating DataFrame
sales = {
    "date":[
        "2019-10-06",
        "2019-10-15",
        "2019-10-24",
        "2019-10-30",
        "2019-11-05"
    ],
    "items_sold":[26,12,82,6,101]
}
sales = pd.DataFrame(sales)

date_new = []
for d in sales["date"]:
    string = datetime.strptime(d, '%Y-%m-%d')
    date_new.append(string)
sales["date_new"] = date_new

# Code below
monthly = sales.resample('M', on = 'date_new')
print(monthly.mean(),"\n")
print(monthly.size())

            items_sold
date_new
2019-10-31        31.5
2019-11-30       101.0

date_new
2019-10-31    4
2019-11-30    1
Freq: M, dtype: int64

3. **Complete the code to return the output** (MEDIUM)

In [23]:
from datetime import date

d = date(2018, 10, 28)
d.year

2018

4. **Create a datetime object to represent 13:59:03 on February 29th 2020.** (HARD)

In [27]:
from datetime import datetime

leap_day = datetime(2020, 2, 29, 13, 59, 3)
print(leap_day)

2020-02-29 13:59:03

5. **Complete the code to return the output** (HARD)

In [33]:
import datetime as dt

start = dt.datetime(2010, 10, 5, 13, 30, 2)
delta = dt.timedelta(seconds = 2)

print(start + delta)

2010-10-05 13:30:04

6. **The `date_str` list contains a series of dates that need to be converted into `datetime` objects. The format of the dates has been provided for you in the `fmt` object.** (HARD)

In [36]:
from datetime import datetime

date_str = ['Oct 06 2019', 'Nov 05 2019', 'Dec 13 2019']

date_correct = []
fmt = '%b %d %Y'

for date in date_str:
  # convert the strings to datetime 
  date_fmt = datetime.strptime(date,fmt)
  
  # add the correctly formatted date to the list
  date_correct.append(date_fmt)

print(date_correct)

[datetime.datetime(2019, 10, 6, 0, 0), datetime.datetime(2019, 11, 5, 0, 0), datetime.datetime(2019, 12, 13, 0, 0)]

7. **Complete the code to return the output** (HARD)

In [37]:
import numpy as np
import pandas as pd

data = pd.Series(['apple','banana','apple', 'banana'])
data.str.upper()

0     APPLE
1    BANANA
2     APPLE
3    BANANA
dtype: object

## Joins

* Join on columns with different names - `print(pd.merge(df1, df2, left_on="var1", right_on="var2"))`
* Outer join = `print(pd.merge(df1, df2, on="var", how="outer"))`

1. **Combine the following DataFrames `df` and `df2` to match the output.** (MEDIUM)

In [26]:
# Creating DFs
df = pd.DataFrame(
    {
        "eggs":[10,5]
    }
)
df2 = pd.DataFrame(
    {
        "salt":[12.0,14.0]
    }
)

pd.concat([df, df2], axis=1)

   eggs  salt
0    10  12.0
1     5  14.0

## Exploring Data

1. **Select the three rows having the smallest values in the `population` column.** (HARD)

In [32]:
df = pd.DataFrame(
    {
        "country":["Brics","Russia","India","China","South Africa"],
        "population":[210354000,146780720,1387297452,1433783686,58558270],
        "GDP":[186818,1657290,2718732,13368073,368135]
    }
)
df.set_index(["country"])

print(df,"\n")
df.nsmallest(3, 'population')

        country  population       GDP
0         Brics   210354000    186818
1        Russia   146780720   1657290
2         India  1387297452   2718732
3         China  1433783686  13368073
4  South Africa    58558270    368135

        country  population      GDP
4  South Africa    58558270   368135
1        Russia   146780720  1657290
0         Brics   210354000   186818

## Clean

1. **Complete the code to return the output** (HARD)

In [35]:
df = pd.DataFrame(
    {
        "id":[1,2],
        "age":[12,45],
        "group_a":[True,True],
        "group_b":[False,True]
    }
)

print(df,"\n")
df.melt(id_vars = ["id","age"], value_vars = ["group_a","group_b"])

   id  age  group_a  group_b
0   1   12     True    False
1   2   45     True     True

   id  age variable  value
0   1   12  group_a   True
1   2   45  group_a   True
2   1   12  group_b  False
3   2   45  group_b   True